<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CHANNEL</key>
	<string>Publish channel</string>
	<key>APP_KEY</key>
	<string>5d87a2ea083afe2268b439c8</string>
</dict>
</plist>
